<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academix</title>
    <link rel="stylesheet" href="../static/assets/homework.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">
</head>
<body>
    <div class="frame" id="frame1">
        <h1 id="title">Congrats, you aced the quiz!</h1>
        <p>You don't have any homework today! Spend your time doing something else you enjoy!</p>
        <button onclick="getInput()" type=button class="custom-btn btn-6"><span>Start Homework</span></button>
    </div>
</body>
</html>