<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academix</title>
    <link rel="stylesheet" href="../static/assets/index.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">
  </head>

  <!-- <-- <body>
    <h1 id="title">Let's fill in the gaps, with Academix</h1>
    <p id="subheader">The all-in-one portal where students can get personalized homework for their skill level, and where teachers can understand each student individually. <span id="hundered">100%</span>  automated. <span id="hundered">100%</span>  free. <span id="hundered">100%</span>  learning.</p>
    <div class="frame">
        <button onclick="location.href='/startassessment'" type=button class="custom-btn btn-6"><span style="font-size: 20px;">Take Sample Assessment</span></button>
        <br>        <br>
        <p>OR</p>
        <br>
        <button onclick="location.href='/create'" type=button class="custom-btn btn-6"><span style="font-size: 20px;">Create your own!</span></button>
        <p>(For teachers only)</p>
    </div>
     <div class="frame2">
        <div id="progress"></div>
        <div class="center">
        <div id="register">

            <i id="progressButton" class="ion-android-arrow-forward next"></i>

            <div id="inputContainer">
                <input id="inputField" required autofocus />
                <label id="inputLabel"></label>
                <div id="inputProgress"></div>
            </div>
        </div>
    </div> 

    <div class="end">
        <button onclick="location.href='teachers.html'" type=button class="custom-btn1 btn-5"><span>For Teachers</span></button>
    </div> 
  </body>
   <script src="../static/js/main.js"></script>
</html>  -->
<!-- about -->
<div class="about">
  <!-- <a class="bg_links logo"></a> -->
</div>
<!-- end about -->

   <nav>
       <div class="menu">
            <p class="website_name"><a href="/">Academix</a></p>
           <div class="menu_icon">
               <span class="icon"></span>
           </div>
       </div>
   </nav>

   <section class="wrapper">

       <div class="container">

           <div id="scene" class="scene" data-hover-only="false">


               <div class="circle" data-depth="1.2"></div>

               <div class="one" data-depth="0.9">
                   <div class="content">
                       <span class="piece"></span>
                       <!-- <span class="piece"></span> -->
                       <!-- <span class="piece"></span> -->
                   </div>
               </div>

               <div class="two" data-depth="0.60">
                   <div class="content">
                      <br>
                       <span class="piece"></span>
                       <span class="piece"></span>
                       <!-- <span class="piece"></span> -->
                   </div>
               </div>
               <br><br>
               <div class="three" data-depth="0.40">
                   <div class="content">
                       <span class="piece"></span>
                       <!-- <span class="piece"></span> -->
                       <!-- <span class="piece"></span> -->
                   </div>
               </div>

               <p class="p404" style="font-size: 75px; text-align: center;" data-depth="0.50">Let's fill in the gaps, with Academix</p>
               <p class="p404" style="font-size: 75px; text-align: center;" data-depth="0.10">Let's fill in the gaps, with Academix</p>

           </div>

           <div class="text">
               <article>
                   <p><span id="hundered">100%</span>  automated. <span id="hundered">100%</span>  free. <span id="hundered">100%</span>  learning.</p>
                   <button id="signin" onclick="location.href='/signin'">Sign In</button>
               </article>
           </div>

       </div>
   </section>
