<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academix</title>
    <link rel="stylesheet" href="../static/assets/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">
  </head>
  <body>
    <style>
      body{
        background-color: #695681;
      }
    </style>
    <div id="frame1" style="padding-left: 100; padding-right: 100;">
        <div class="frame">
          <button id="teacherButton" type=button class="custom-btn btn-6" style="text-align: center; justify-content: center; background-color:#fb8a8a;" name="teacherButton" onclick="location.href='/create'">I'm a Teacher</button>
          <button id="teacherButton" type=button class="custom-btn btn-6" style="text-align: center; justify-content: center; background-color:#fb8a8a;" name="teacherButton" onclick="location.href='/startassessment'">I'm a Student</button>
        </div>
    </div>
  </div>
  <script src="../static/js/main.js"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</html>
