<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academix</title>
    <link rel="stylesheet" href="../static/assets/teachers.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">
  </head>
  <body>
    <div class="frame">
      <nav>
        <div class="menu">
            <p class="website_name"><a href="/">Academix</a></p>
            <div class="menu_icon">
                <span class="icon"></span>
            </div>
        </div>
    </nav>

    <section class="wrapper">

        <div class="container">

            <div id="scene" class="scene" data-hover-only="false">


                <div class="circle" style="color: #ff9d87" data-depth="3"></div>

                <div class="one" data-depth="0.9">
                    <!-- <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span> 
                    </div> -->
                </div>

                <div class="two" data-depth="0.60">
                    <div class="content">
                      <!-- <br>
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>  -->
                    </div>
                </div>
                <br><br>
                <div class="three" data-depth="0.40">
                    <div class="content">
                        <!-- <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span> -->
                    </div>
                </div>

                <p class="p404" style="font-size: 50px; text-align: center;" style="color: #ff9d87;" data-depth="0.50"> Enter Join Code:</p>
                <p class="p404" style="font-size: 50px; text-align: center;" data-depth="0.10" style="color: #ff9d87;">Enter Join Code:</p>
            </div>
            <input id ="joincode" type='text' style="position: absolute; display:block; margin : 0 auto; bottom: 200px; height: 30px; z-index:1000; padding-left: 30px; font-family: montserrat;">
            <div style="position: relative; bottom: 30px" class="text">
                <article>
                    <button style="background-color: #ff9d87" onclick="checkCode()" type=button>Join!</button>
                </article>
            </div>
  </div>

  <script src="../static/js/main.js"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

  <script>
    function checkCode(){
        var value = $("#joincode").val();
        if (value == 390392){
            location.href="/joined";
        } else{
            alert("Invalid/Incorrect Join Code");
        }
    }



  </script>
</html>