<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>change title later</title>
    <link rel="stylesheet" href="../static/assets/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  </head>
  <body>
    <h1 id="title">Teachers</h1>
    <p id="subheader">Tired of manually making tests and assigning homework? Finding ways to prevent cheating? Have AI do it all for you. Just enter in the topics you want to test and watch in amazement as AI generates challenging problems for each student in seconds. </p>
    <div class="frame">
        <!-- <button type=button ONCLICK="alert('The feature to automatically generate tests has not been added yet. For now, please use the sample assesment. \nNote that it is completely possible and it is something we would like to work on in the future.\nThanks!')" class="custom-btn btn-6"><span>Generate New Test</span></button> -->
        <button type=button class="custom-btn btn-6"><span>Generate New Test</span></button>
    </div>
    
  </body>
  <script src="main.js"></script>
</html>
