<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/teachers.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <script src="math.js" type="text/javascript"></script>
  </head>
  <body>
    <!-- <h1 id="title">Teachers</h1>
    <p id="subheader">Tired of manually making tests and assigning homework? Finding ways to prevent cheating? Have AI do it all for you. Just enter in the topics you want to test and watch in amazement as AI generates challenging problems for each student in seconds.
    </p> -->
    <div class="frame">
                      <nav>
                        <div class="menu">
                            <p class="website_name"><a href="/">Academix</a></p>
                            <div class="menu_icon">
                                <span class="icon"></span>
                            </div>
                        </div>
                    </nav>
                
                    <section class="wrapper">
                
                        <div class="container">
                
                            <div id="scene" class="scene" data-hover-only="false">
                
                
                                <div class="circle" style="color: #ff9d87" data-depth="3"></div>
                
                                <div class="one" data-depth="0.9">
                                    <!-- <div class="content">
                                        <span class="piece"></span>
                                        <span class="piece"></span>
                                        <span class="piece"></span> 
                                    </div> -->
                                </div>
                
                                <div class="two" data-depth="0.60">
                                    <div class="content">
                                      <!-- <br>
                                        <span class="piece"></span>
                                        <span class="piece"></span>
                                        <span class="piece"></span>  -->
                                    </div>
                                </div>
                                <br><br>
                                <div class="three" data-depth="0.40">
                                    <div class="content">
                                        <!-- <span class="piece"></span>
                                        <span class="piece"></span>
                                        <span class="piece"></span> -->
                                    </div>
                                </div>
                
                                <p class="p404" style="font-size: 50px; text-align: center;" style="color: #ff9d87;" data-depth="0.50"> Teachers, get ready to have your minds blown.</p>
                                <p class="p404" style="font-size: 50px; text-align: center;" data-depth="0.10" style="color: #ff9d87;">Teachers, get ready to have your minds blown.</p>
                
                            </div>
                            <div style="position: relative; bottom: 30px" class="text">
                                <article>
                                    <p>Focused Learning. Prevents Cheating. Less work strain for you.</p>
                                    <button style="background-color: #ff9d87" onclick="location.href='/steps'" type=button>Generate New Test</button>
                                </article>
                            </div>
    </div>
    </script>
    <script src="teachers.js"></script>
  </body>

</html>
